
header h1{
    color:palevioletred;
    background-color: black;
 border-radius: 14px;
    text-align: center;
    }

body { background-color:rgb(214, 236, 214);
}


nav ul{
    white-space:nowrap;
    max-width:1200;
    margin:0 auto;}


    nav li {
        width:25%;
        display:inline-block;
        font-size: 25px;
        font-family:'Inter'
        }

.keke{font-size: 24px;
    text-decoration: solid;
    

}